.body {
  font-family: Arial, sans-serif;
  background-color: #f1e10b;
  margin: 30px;
  align-items: center;
  padding: 30px;
  display: flex;
  justify-content:center;
}
.profile-content{
  margin-top: 6px;
  margin-right: 8px;
}

.profile-container {
  width: 400px;
  background: #f76ddc;
  border-radius: 10px;
  text-align: center;
  margin-top: 0 30px 0;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  overflow: hidden;
}

.cover-photo {
  height: 150px;
  background-image: url('https://images.unsplash.com/photo-1503264116251-35a269479413?auto=format&fit=crop&w=800&q=60');
  background-size: cover;
  background-position: center;
}

.profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid rgb(13, 7, 7);
  margin-top: -50px;
}

h2 {
  margin: 10px 0 5px;
}

.buttons button {
  background: #08b6eb;
  border: 5px solid #0e0d0d;
  border-radius: 5px;
  padding: 6px 12px;
  margin: 5px;
  cursor: pointer;
}

.buttons button:hover {
  background: #efd806;
}

.stats {
  display: flex;
  justify-content: space-around;
  margin: 15px 0;
  font-size: 14px;
}

.bio {
  padding: 0 15px;
  color: #555;
  font-size: 13px;
}

.links button,
.tabs button {
  background: #eb219e;
  border: 1px solid #111010;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 4px;
  font-size: 12px;
  cursor: pointer;
}

.tabs .active {
  background: #41c6bf;
}

.photo-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  padding: 30px;
  transition: transform 0.3s;
  
}
   .photo-grid img:hover{
      transform: scale(1.05);
    }
.photo-grid img {
  width: 100%;
  border-radius:5px;
}
